p {
  color: red;  
}

h1 {
  color: blue;
}

div {
  color: green;
}

.container {
  display: grid; 
  grid-template-columns: 1.2fr 0.8fr; 
  gap: 0px 0px; 
}

.container-grid {
  display: grid;
}

.container-form {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.div-msgs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.chat-color {
  color: blue;
  margin: 1rem;
}

.msgs {
  border: 1px solid black;
  gap: 1rem;
  border-radius: 5px;
}

