<div class="container">
  <div>
    <h1>Hola tarolas!</h1>
    <p>Listado de Productos</p>
    {{!-- {{#each products}} --}}
    <div id="dinamic-list-products">
      {{!-- <div>
          <p>ID: {{this._id}} </p>
          <p>Nombre:{{this.title}}</p>
          <p>Precio:{{this.price}}</p>
          <hr/>
        </div> --}}
    </div>
    {{!-- {{/each}} --}}
  </div>
  <div class="container-grid">
    <form class="container-form" id="products-form">
      <input
        type="text"
        id="title-form"
        name="title-form"
        placeholder="Titulo"
      />
      <input
        type="text"
        id="description-form"
        name="description-form"
        placeholder="Descripcion"
      />
      <input
        type="text"
        id="category-form"
        name="category-form"
        placeholder="Categoria"
      />
      <input
        type="text"
        id="price-form"
        name="price-form"
        placeholder="Precio"
      />
      <input type="text" id="code-form" name="code-form" placeholder="Codigo" />
      <input
        type="text"
        id="stock-form"
        name="stock-form"
        placeholder="Stock"
      />
      <button type="submit">Agregar Producto</button>
    </form>
    <form class="container-form" id="delete-prod-form">
      <input
        type="text"
        id="delete-button"
        name="productId"
        placeholder="Id del Producto"
      />
      <button type="submit">Borrar Producto</button>
    </form>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/socket.js"></script>
{{! <script src="js/main.js" ></script> }}