<div>
  HOLA SHAT!
</div>
<div>
  <p>Listado de mensajes:</p>
  <div id="div-msgs" class="div-msgs"></div>
</div>
<div>
  <p>Ingrese su mensaje</p>
  <input type="text" name="" id="input-msg" placeholder="Ingrese su mensaje...">
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/test-chat.js" ></script>